.adminLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../../assets/images/admin/backgroundlogin.jpg") no-repeat;
  background-size: 100% 100%;
}